@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img id="mainPhoto" src="~/Images/Products/@Model.MainPhotoUrl" alt="">
                    </div>

                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @if (Model.Images.Count > 0)
                    {
                        foreach (var image in Model.Images)
                        {
                            <div class="product-preview">
                                <a href="#" class="carouselImages"><img src="~/Images/Products/@image.PhotoUrl" alt=""></a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="product-preview">
                            <img src="~/Images/Products/default-pro.jpg" alt="">
                        </div>
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.ProductName</h2>
                    @{ 
                        var name =
                            (Model.User.Name == null
                            ?
                            Model.User.UserName
                            :
                            (Model.User.Name + " " + Model.User.Surname)
                            );
                    }
                <h3>
                    @localizer["OwnerText"]:@name
                </h3>
                    <div>
                        <div class="product-rating">
                            @{
                                int starCount = 0;
                                while (starCount < Model.AverageRate)
                                {
                                    <i class="fa fa-star"></i>
                                    ++starCount;
                                }
                                while (starCount < 5)
                                {
                                    <i class="fa fa-star-o"></i>
                                    ++starCount;
                                }

                            }
                        </div>
                        <a class="review-link" href="#reviews">@Model.Rates.Count @localizer["ReviewAmountLink"] | @localizer["AddReviewLink"]</a>
                    </div>
                    @if (Model.Lend == true)
                    {
                        <div id="rentConditions" hidden>
                            <div>
                                <label>@localizer["RentPriceText"]:</label>
                                <h3 class="product-price">@Model.LendPrice <span>@localizer["RentRateText"]</span></h3>
                            </div>
                            <div>
                                <label>@localizer["RentDurationLabel"]:</label>
                                <h3 id="minLendDays" class="product-price">@Model.MinLendDays <span>@localizer["RentDurationText"]</span></h3>
                            </div>
                        </div>
                    }
                                    @if (Model.Sell == true)
                                    {
                        <div id="sellConditions">
                            <label>@localizer["PurchasePriceText"]:</label>
                            <h3 class="product-price">@Model.SellPrice <span>AZN</span></h3>
                        </div>
                    }
                <div>
                    <h3 style="color:darkorange">@localizer["StockStatusText"]: <span id="availableCount">@(Model.TotalAmount-Model.CurrentlyRented)</span></h3>

                </div>
                    <p>@Model.ProductDescription</p>
                    <form method="post">
                        <input hidden name="Id" value="@Model.Id" />
                        <input id="buyerName" hidden value="@User.Identity.Name" name="buyer" />
                        <div class="add-to-cart">
                            <div class="input-number mb-3">
                                <select name="proposalType" id="propType" class="input-select" onclick="proposalTypeChange()">
                                    @foreach (var item in ViewBag.ProposalTypes)
                                    {
                                        if (item.Type == "Sell" && Model.Sell == true)
                                        {
                                            <option value="@item.Id">@localizer["BuyOptionText"]</option>

                                        }
                                        else if (item.Type == "Rent" && Model.Lend == true)
                                        {
                                            <option value="@item.Id">@localizer["RentOptionText"]</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="qty-label">
                                <div class="input-number">
                                    <input type="number" name="ProposedPrice" id="proposedPrice" value="0" min="1">
                                    <span id="priceUp" class="qty-up">+</span>
                                    <span id="priceDown" class="qty-down">-</span>
                                </div>
                                <label id="priceType">azn</label>
                                <div class="input-number">
                                    <input type="number" name="ProposedAmount" id="proposedAmount" value="0" min="1" max="@(Model.TotalAmount-Model.CurrentlyRented)">
                                    <span id="quantityUp"class="qty-up">+</span>
                                    <span id="quantityDown"class="qty-down">-</span>
                                </div>
                                @*<label id="priceType">@localizer["QuantityLabelText"]</label>*@
                                <label>@localizer["QuantityLabelText"]</label>
                            </div>
                            @*add-to-cart-btn*@
                            @{
                                var check = false;

                                <button style="margin-top:5px" asp-controller="Home" asp-action="SendProposal" id="sendProposalButton"
                                        class="@(check == true ? "add-to-cart-btn" : "btn btn-light disabled")">
                                    <i class="fa fa-shopping-cart"></i> @localizer["ProposalButtonText"]
                                </button>
                            }
                        </div>
                        <div class="date" hidden>

                            <div class="form-group">
                                <label>Başlanğıc</label>
                                <input id="dp1" name="rentStartDate" onchange="checkDate()" type="date" class="form-control clickable input-md" placeholder="&#xf133;  ay/gün/il">
                                <label class="text-danger" id="dp1ErrorSpan" hidden>@localizer["RentStartDateError"]</label>
                            </div>
                            <div class="form-group">
                                <label>Son</label>
                                <input id="dp2" name="rentEndDate" onchange="checkDate()" type="date" class="form-control clickable input-md" placeholder="&#xf133;  ay/gün/il">
                                <label class="text-danger" id="dp2ErrorSpan1" hidden>@localizer["RentEndDateError"]</label>
                                <label class="text-danger" id="dp2ErrorSpan2" hidden>@localizer["MinimalRentPeriodError"]: @Model.MinLendDays </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="proposalMessage">@localizer["NoteToSeller"]</label>
                            <textarea class="form-control" name="proposalMessage"  placeholder="" rows="5"></textarea>
                        </div>
                    </form>

                    <ul class="product-btns">
                        <li><a href="" id="wishlistIcon" onclick="wishClicked(this)"><i class="@(ViewBag.Wish != null? "fa fa-heart":"fa fa-heart-o")"></i> @localizer["WishtlistIconText"]</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>@localizer["CategoryLabelText"]:</li>
                        <li><a href="#">@Model.Subcategory.SubcategoryName</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>@localizer["ShareLabelText"]:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        @*<li id="description"><a data-toggle="tab" >Description</a></li>*@
                        <li class="active" id="review"><a data-toggle="tab">@localizer["ReviewsLink"]</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <!--<div id="tabDescription" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.ProductDescription</p>
                                </div>
                            </div>
                        </div>-->
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tabReview" class="tab-pane fade in active">
                            <div class="row">
                                @*Rating*@
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>@Model.AverageRate</span>
                                            <div class="rating-stars">
                                                @if (Model.AverageRate > 0)
                                                {

                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        while (i < Model.AverageRate)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                            ++i;
                                                        }
                                                        while (i < 5)
                                                        {
                                                            <i class="fa fa-star-o empty"></i>
                                                            ++i;
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    int i = 0;
                                                    while (i < 5)
                                                    {
                                                        <i class="fa fa-star-o empty"></i>
                                                        ++i;
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <span class="sum">@Model.Rates.Where(r => r.Note == 5).Count()</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="sum">@Model.Rates.Where(r => r.Note == 4).Count()</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="sum">@Model.Rates.Where(r => r.Note == 3).Count()</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="sum">@Model.Rates.Where(r => r.Note == 2).Count()</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <span class="sum">@Model.Rates.Where(r => r.Note == 1).Count()</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @*Rating*@
                                @*//Reviews*@
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            @if (Model.Rates.Count() > 0)
                                            {

                                                @foreach (var rate in Model.Rates)
                                                {
                                                    <li>
                                                        <div class="review-heading">
                                                            <h5 class="name">@rate.User.UserName</h5>
                                                            <p class="date">@rate.DateAdded</p>
                                                            <div class="review-rating">
                                                                @for (int i = 0; i < 5; i++)
                                                                {
                                                                    while (i < rate.Note)
                                                                    {
                                                                        <i class="fa fa-star"></i>
                                                                        ++i;
                                                                    }
                                                                    while (i < 5)
                                                                    {
                                                                        <i class="fa fa-star-o empty"></i>
                                                                        ++i;
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>@rate.Review</p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <!-- /tab2  -->
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form">
                                            <textarea class="input" id="newReview" placeholder="@localizer["UserReviewPlaceholder"]"></textarea>
                                            <div class="input-rating">
                                                <span>@localizer["UserReviewRating"]: </span>
                                                <div class="stars" id="rateBar">
                                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                </div>
                                            </div>
                                            <button class="btn disabled" id="postNewRate">@localizer["SubmitButtonText"]</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
@section Scripts{
    <script>

        $(document).ready(function () {
            proposalTypeChange();
            //var check = $("#availableCount").text();
            //check > 0 ? sendProposalCheck(true) : sendProposalCheck(false);
            //sendProposalCheck();
            //sendProposalCheck(false);

        });

        function proposalTypeChange() {
            var check = $("#propType option:selected").text();

            if (check == "Almaq" || check == "Buy") {
                //console.log(document.getElementById("priceType").textContent);
                $("#priceType").text("azn");
                $(".date").attr("hidden", true);
                $("#rentConditions").attr("hidden", true);
                $("#sellConditions").removeAttr("hidden");
                sendProposalCheck(true);


            }
            else {
                sendProposalCheck(false);
                var rateText = "@localizer["RentRateText"]";
                $("#priceType").text(rateText);
                $(".date").removeAttr("hidden");
                $("#rentConditions").removeAttr("hidden");
                $("#sellConditions").attr("hidden", true);
                checkDate();
            }
        }

        function checkDate() {
            var startDate = (new Date($("#dp1").val())).getTime();
            var endDate = (new Date($("#dp2").val())).getTime() + 86400000;
            var minLendDays = $("#minLendDays").text().split("")[0] * 24 * 3600 * 1000;
            var check = true;
            if (isNaN(startDate) || startDate < Date.now()) {
                $("#dp1ErrorSpan").removeAttr("hidden");
                check = false;
            } else {
                $("#dp1ErrorSpan").attr("hidden", true);
            }
            if (startDate >= endDate || isNaN(endDate)) {
                $("#dp2ErrorSpan1").removeAttr("hidden");
                check = false;
            } else {
                $("#dp2ErrorSpan1").attr("hidden", true);
            }
            if (endDate - startDate < minLendDays) { // to check if difference is less than minLendDays
                $("#dp2ErrorSpan2").removeAttr("hidden");
                check = false;
            } else {
                $("#dp2ErrorSpan2").attr("hidden", true);
            }

            sendProposalCheck(check);
        }

        function sendProposalCheck(check) {
            if (check == true) {
                $("#sendProposalButton").removeClass("disabled btn btn-light").addClass("add-to-cart-btn");
            } else {
                $("#sendProposalButton").addClass("disabled btn btn-light").removeClass("add-to-cart-btn");
            }
        }

        $(".carouselImages").on("click", function (event) {
            event.preventDefault();
            var chosenImage = event.target.getAttribute("src");
            $("#mainPhoto")[0].setAttribute("src",chosenImage);
        })

        $("#rateBar").click(function () {
            $("#postNewRate").removeClass("disabled").addClass("primary-btn");
        })

        $("#postNewRate").on("click",function (event) {
            event.preventDefault();
            if (!($(event.target).hasClass("disabled"))) {
                var _review = $("#newReview").val();
                var _score = $('input[name$="rating"]:checked').val();
                var _rater = $("#buyerName").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/AddNewRating",
                    data: {
                        productid:@Model.Id,
                        rater: _rater,
                        review: _review,
                        score:_score
                    },
                    success: function () {
                        location.reload(true);
                    }
                })
            };
        });

        $("#wishlistIcon").click((event) => {
            event.preventDefault();
        });
        function wishClicked(a) {
            if ($(a).find("i").hasClass('fa-heart-o')) {
                $(a).find("i").addClass('fa-heart').removeClass('fa-heart-o');
                $.ajax({
                    type: "POST",
                    url: "/Home/AddProductToWishlist/",
                    data: {
                        productid: "@Model.Id",
                        buyer: "@User.Identity.Name"
                    },
                    success: function () {
                        var element = $("#wishListCount");
                        var value = parseInt(element.val()) + 1;
                        $(element).val(value).attr("hidden", false);
                    }
                });
            }

            else {
                $(a).find("i").removeClass('fa-heart').addClass('fa-heart-o');
                $.ajax({
                    type: "POST",
                    url: "/home/RemoveProductFromWishlist/",
                    data: {
                        productid: "@Model.Id",
                            buyer: "@User.Identity.Name"
                    },
                    success: function () {
                        var element = $("#wishListCount");
                        var value = parseInt(element.val()) - 1;
                        $(element).val(value);
                        if (value == 0) {
                            $(element).attr("hidden", true);
                        }


                    }
                   });

            }


        };

        $("#priceUp").click(function () {
            var val = parseInt($('#proposedPrice').val()) + 1;
            $('#proposedPrice').val(val);
        });

        $("#priceDown").click(function () {
            var val = parseInt($('#proposedPrice').val());
            if (val != 0)
                $('#proposedPrice').val(val - 1);

        });

        $("#quantityUp").click(function () {
            var val = parseInt($('#proposedAmount').val()) + 1;
            $('#proposedAmount').val(val);
        });

        $("#quantityDown").click(function () {
            var val = parseInt($('#proposedAmount').val());
            if (val != 0)
                $('#proposedAmount').val(val - 1);

        });



        $("#description").click(function (event) {
            $("#review").removeClass("active");
            $("#description").addClass("active");
            $("#tabDescription").addClass("active");
            $("#tabReview").removeClass("active");
        })

        $("#review").click(function (event) {
            $("#description").removeClass("active");
            $("#review").addClass("active");
            $("#tabDescription").removeClass("active");
            $("#tabReview").addClass("active");
        });
    </script>
}