@model IEnumerable<ProductDetailsViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["PageTabName"];
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <partial name="_CategoriesPartial" model="@ViewBag.Categories" />
                <p hidden>@ViewBag.CategoryId</p>
            </div>
        </div>
        <div class="col-lg-8">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            <div class="row" style="height:auto">
                @foreach (var product in Model)
                {
                    //to check whether there is available in owner's stock
                    var stockCheck = product.TotalAmount - product.CurrentlyRented;


                    if (User.Identity.IsAuthenticated == true && product.User.UserName == User.Identity.Name)
                    {
                        <div class="card m-1" style="width: 23rem;overflow:hidden; white-space:nowrap;">
                            @if (stockCheck == 0)
                            {
                                <div class="unavailable-product">@localizer["UnavailableProductLabelDescription"]</div>
                            }
                            <div class="own-product-label">@localizer["OwnProductDescription"]</div>
                            @if (product.MainPhotoUrl == null)
                            {
                                <img src="~/Images/Products/default-pro.jpg" class="card-img-top card-photo" alt="..." />
                            }
                            else
                            {
                                <img src="~/Images/Products/@product.MainPhotoUrl" class="card-img-top card-photo" alt="...">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <p class="card-text">@product.ProductDescription</p>
                                <p class="card-text">
                                    @product.Subcategory.Category.CategoryName/@product.Subcategory.SubcategoryName
                                </p>
                                @if (product.Sell == true)
                                {
                                    <h6 class="text-success">@localizer["BuyDescription"]: @product.SellPrice <span>AZN</span></h6>
                                }
                                else
                                {
                                    <h6 class="text-success">@localizer["BuyDescription"]: <span>❌</span></h6>

                                }
                                @if (product.Lend == true)
                                {
                                    <h6 class="text-warning">@localizer["RentDescription"]: @product.LendPrice <span>AZN/gun</span></h6>
                                }
                                else
                                {
                                    <h6 class="text-warning">@localizer["RentDescription"]: <span>❌</span></h6>

                                }
                                <a asp-action="Profile" asp-controller="Account" asp-route-username="@product.User.UserName"><h6>@localizer["ProductOwnerDescription"]: <u>@product.User.UserName</u></h6></a>
                                <a style="justify-content:flex-end" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary disabled"><i class="fa fa-edit"> @localizer["ToDetailsButtonDescription"]</i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card m-1" style="width: 23rem;overflow:hidden; white-space:nowrap;">
                            @if (stockCheck == 0)
                            {
                                <div class="unavailable-product">@localizer["UnavailableProductLabelDescription"]</div>
                            }
                            @if (product.MainPhotoUrl == null)
                            {
                                <img src="~/Images/Products/default-pro.jpg" class="card-img-top card-photo" alt="..." />
                            }
                            else
                            {
                                <img src="~/Images/Products/@product.MainPhotoUrl" class="card-img-top card-photo" alt="...">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <p class="card-text">@product.ProductDescription</p>
                                <p class="card-text">
                                    @product.Subcategory.Category.CategoryName/@product.Subcategory.SubcategoryName
                                </p>
                                @if (product.Sell == true)
                                {
                                    <h6 class="text-success">@localizer["BuyDescription"]: @product.SellPrice <span>AZN</span></h6>
                                }
                                else
                                {
                                    <h6 class="text-success">@localizer["BuyDescription"]: <span>❌</span></h6>

                                }
                                @if (product.Lend == true)
                                {
                                    <h6 class="text-warning">@localizer["RentDescription"]: @product.LendPrice <span>AZN/gun</span></h6>
                                }
                                else
                                {
                                    <h6 class="text-warning">@localizer["RentDescription"]: <span>❌</span></h6>

                                }
                                <a asp-action="Profile" asp-controller="Account" asp-route-username="@product.User.UserName"><h6>@localizer["ProductOwnerDescription"]: @product.User.UserName</h6></a>
                                <a style="justify-content:flex-end" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary"><i class="fa fa-edit">@localizer["ToDetailsButtonDescription"]</i></a>
                            </div>
                        </div>
                    }


                }
            </div>

            <nav aria-label="...">
                <ul class="pagination">
                    @if (@ViewBag.PageNo == 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">@localizer["PaginationPrevious"]</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pageNo="@(ViewBag.PageNo-1)" asp-route-id="@ViewBag.CategoryId">@localizer["PaginationPrevious"]</a>
                        </li>
                    }
                    @for (int i = 0; i < ViewBag.NoOfPages; i++)
                    {
                        @if (i + 1 == ViewBag.PageNo)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-controller="Home" asp-action="Index"
                                   asp-route-id="@ViewBag.CategoryId" asp-route-pageNo="@(i+1)">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="Index"
                                   asp-route-id="@ViewBag.CategoryId" asp-route-pageNo="@(i+1)">@(i + 1)</a>
                            </li>
                        }
                    }
                    @*<li class="page-item active" aria-current="page">
                            <span class="page-link">
                                2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>*@
                    @*<li class="page-item"><a class="page-link" href="#">3</a></li>*@
                    @if (@ViewBag.PageNo == ViewBag.NoOfPages)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">@localizer["PaginationNext"]</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-PageNo="@(ViewBag.PageNo+1)" asp-route-id="@ViewBag.CategoryId">@localizer["PaginationNext"]</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
