@model IEnumerable<ProductDetailsViewModel>
@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <partial name="_CategoriesPartial" model="@ViewBag.Categories" />
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">

                @foreach (var product in Model)
                {
                    <div class="card m-1" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                }
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    @if (@ViewBag.PageNo == 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <span class="page-link">Previous</span>
                        </li>
                    }
                    @for (int i = 0; i < ViewBag.NoOfPages; i++)
                    {
                        @if (i + 1 == ViewBag.PageNo)
                        {
                            <li class="page-item active"><a class="page-link" href="#">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="#">@(i + 1)</a></li>
                        }
                    }
                    @*<li class="page-item active" aria-current="page">
                            <span class="page-link">
                                2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>*@
                    @*<li class="page-item"><a class="page-link" href="#">3</a></li>*@
                    @if (@ViewBag.PageNo == ViewBag.NoOfPages)
                    {
                        <li class="page-item">
                            <a class="page-link disabled" href="#">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

    </div>
</div>

<script>
    $(".page-link").click(function () {
        //this.setAttribute("class", "active");
        window.alert("clicked");
    });

    $("a[href='/home/products']").attr("id", "active");
</script>


