@model IEnumerable<ProductDetailsViewModel>
@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <partial name="_CategoriesPartial" model="@ViewBag.Categories" />
                <p hidden>@ViewBag.CategoryId</p>
            </div>
        </div>
        <div class="col-lg-8">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            <div class="row">

                @foreach (var product in Model)
                {
                    <div class="card m-1" style="width: 20rem; overflow:hidden; white-space:nowrap;">
                        <img src="~/Images/@product.MainPhotoUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.ProductDescription</p>
                            @if (product.Sell == true)
                            {
                                <h6 class="text-success">Satış: @product.SellPrice <span>AZN</span></h6>
                            }
                            @if (product.Lend == true)
                            {
                                <h6 class="text-warning">Kirayə: @product.LendPrice <span>AZN/gun</span></h6>
                            }

                            <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary"><i class="fa fa-edit"> Təklif göndər</i></a>
                        </div>
                    </div>
                }
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    @if (@ViewBag.PageNo == 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pageNo="@(ViewBag.PageNo-1)" asp-route-id="@ViewBag.CategoryId">Previous</a>
                        </li>
                    }
                    @for (int i = 0; i < ViewBag.NoOfPages; i++)
                    {
                        @if (i + 1 == ViewBag.PageNo)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-controller="Home" asp-action="Index"
                                   asp-route-id="@ViewBag.CategoryId" asp-route-pageNo="@(i+1)">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="Index"
                                   asp-route-id="@ViewBag.CategoryId" asp-route-pageNo="@(i+1)">@(i + 1)</a>
                            </li>
                        }
                    }
                    @*<li class="page-item active" aria-current="page">
                            <span class="page-link">
                                2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>*@
                    @*<li class="page-item"><a class="page-link" href="#">3</a></li>*@
                    @if (@ViewBag.PageNo == ViewBag.NoOfPages)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-PageNo="@(ViewBag.PageNo+1)" asp-route-id="@ViewBag.CategoryId">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

    </div>
</div>

@section Scripts
{
    <script>
        @*if (@ViewBag.WishCount>0) {
            $("#wishListCount").removeAttr("hidden").text(@ViewBag.WishCount);
        }*@
    </script>
}


