@model IEnumerable<WishListProduct>

@{
    ViewData["Title"] = "Wishlist";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row" style="height:auto">

        @foreach (var product in Model)
        {
            <div class="card m-3" style="width: 23rem;overflow:hidden; white-space:nowrap;">
                <input hidden class="product-id" value="@product.ProductId" />
                @if (product.Product.MainPhotoUrl == null)
                {
                    <img src="~/Images/Products/default-pro.jpg" class="card-img-top card-photo" alt="..." />
                }
                else
                {
                    <img src="~/Images/Products/@product.Product.MainPhotoUrl" class="card-img-top card-photo" alt="...">
                }
                <i onclick="removeFromWishList(this)" class="fa fa-2x fa-heart wish-heart"></i>
                <div class="card-body">
                    <h5 class="card-title">@product.Product.ProductName</h5>
                    <p class="card-text">@product.Product.ProductDescription</p>
                    @if (product.Product.Sell == true)
                    {
                        <h6 class="text-success">Satış: @product.Product.SellPrice <span>AZN</span></h6>
                    }
                    else
                    {
                        <h6 class="text-success">Satış: <span>❌</span></h6>

                    }
                    @if (product.Product.Lend == true)
                    {
                        <h6 class="text-warning">Kirayə: @product.Product.LendPrice <span>AZN/gun</span></h6>
                    }
                    else
                    {
                        <h6 class="text-warning">Kirayə: <span>❌</span></h6>

                    }
                    <a asp-action="Profile" asp-controller="Account" asp-route-username="@product.Product.User.UserName"><h6>Məhsul sahibi: @product.Product.User.UserName</h6></a>
                    <a style="justify-content:flex-end" asp-controller="Home" asp-action="Details" asp-route-id="@product.Product.Id" class="btn btn-primary"><i class="fa fa-edit"> Təklif göndər</i></a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    <script>
    function removeFromWishList(event) {
        var element = event.parentElement;
        var id = $(element).find(".product-id").val();
        $(element).find(".fa").removeClass("fa-heart").addClass("fa-heart-o");
        $(element).addClass("favorite-product-removed");
        var user = "@User.Identity.Name";
        $.ajax({
            type: "POST",
            url: "/Home/RemoveProductFromWishlist/",
            data: {
                productid: id,
                buyer: user
            },
            success: function () {
                setTimeout(()=>{
                    $(element).remove();
                    var wishLabel = $("#wishListCount");
                    var value = parseInt(wishLabel.val()) - 1;
                    $(wishLabel).val(value);
                    if (value == 0) {
                        $(wishLabel).attr("hidden", true);
                    }
                }, 2000);
            }
        })

    }
    </script>
}

