@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Rent.ViewModels.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="container col-6 ">
    <div>
        <article class="card-body">
            <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="float-right btn btn-outline-primary">@localizer["SignUpLinkText"]</a>
            <h4 class="card-title mb-4 mt-1">@localizer["SignInLabel"]</h4>
            @*<a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>*@
            @if (Model != null && Model.ExternalLogins.Count > 0)
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">

                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <p>
                            @if (provider.DisplayName == "Google")
                            {
                                <button name="provider" value="@provider.Name" class="btn btn-block btn-outline-danger"> <i class="fab fa-google-plus"></i>   @localizer["GoogleSignInText"]</button>
                            }
                            @if (provider.DisplayName == "Twitter")
                            {
                                <button name="provider" value="@provider.Name" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   @localizer["SignInLabel"]</button>
                            }
                            @if (provider.DisplayName == "Facebook")
                            {
                                <button name="provider" value="@provider.Name" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   @localizer["FacebookSignInText"]</button>
                            }
                        </p>
                    }
                </form>
            }

            @*@foreach (var modelState in ViewData.ModelState.Values)
        {

            foreach (var error in modelState.Errors)
            {

                <span style="width:auto" class="text-danger">
                    <b><i class="fas fa-ban"></i> @error.ErrorMessage</b>
                </span>
            }
        }*@

            <hr>
            @if (TempData["NoAccountFound"] != null)
            {
                <p class="alert alert-danger">@TempData["NoAccountFound"]</p>
            }
            @if (TempData["PasswordReset"] != null)
            {
                <p class="alert alert-success">@TempData["PasswordReset"]</p>
            }
            @if (TempData["FailedLogin"] != null)
            {
                <p class="alert alert-danger">@TempData["FailedLogin"]</p>
            }
            <form method="post" asp-action="Login">
                <div class="form-group">
                    <input asp-for="ReturnUrl" hidden value="@Model.ReturnUrl" />
                    <input name="Username" asp-for="Username" class="form-control" placeholder="@localizer["LoginUsernamePlaceholder"]" type="text">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input name="Password" asp-for="Password" class="form-control" placeholder="@localizer["LoginPasswordPlaceholder"]" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">@localizer["LoginButtonText"]</button>
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="small" asp-area="" asp-controller="Account" asp-action="ForgotPassword">@localizer["ForgotPasswordText"]</a>
                    </div>
                </div> <!-- .row// -->
            </form>
        </article>
    </div> <!-- card.// -->
</div>
