@model Rent.ViewModels.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/Register.css" />

@*<form method="post" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Email address:</label>
            <input type="email" asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Username">Username:</label>
            <input type="text" asp-for="Username" class="form-control">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm password:</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>*@

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>

            @if (Model != null && Model.ExternalRegisters.Count > 0)
            {
                <form method="post" asp-action="ExternalRegister" asp-route-returnUrl="@Model.ReturnUrl">
                    @foreach (var provider in Model.ExternalRegisters)
                    {
                        <p>
                            @if (provider.DisplayName == "Google")
                            {
                                <button name="provider" value="@provider.Name" class="btn btn-block btn-outline-danger"> <i class="fab fa-google-plus"></i>   Sign up via Google</button>
                            }
                            @if (provider.DisplayName == "Twitter")
                            {
                                <button name="provider" value="@provider.Name" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Sign up via Twitter</button>
                            }
                            @if (provider.DisplayName == "Facebook")
                            {
                                <button name="provider" value="@provider.Name" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Sign up via Facebook</button>
                            }
                        </p>
                    }
                </form>
            }
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form method="post" asp-action="Register">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                </div>
                <input asp-for="ReturnUrl" value="@Model.ReturnUrl" hidden/>
                <div class="form-group input-group">
                    <input name="Name" asp-for="Name" class="form-control" placeholder="Name" type="text">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group input-group">
                    <input name="Surname" asp-for="Surname" class="form-control" placeholder="Surname" type="text">
                    <span asp-validation-for="Surname" class="text-danger"></span>

                </div>
                <div class="form-group input-group">
                    <input name="Username" asp-for="Username" class="form-control" placeholder="Username" type="text">
                    <span asp-validation-for="Username" class="text-danger"></span>

                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="Email" asp-for="Email" class="form-control" placeholder="Email address" type="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @*<div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                            <option selected="">+971</option>
                            <option value="1">+972</option>
                            <option value="2">+198</option>
                            <option value="3">+701</option>
                        </select>
                        <input name="PhoneNumber" class="form-control" placeholder="Phone number" type="text">
                    </div>*@
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="Password" asp-for="Password" class="form-control" placeholder="Create password" type="password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" placeholder="Repeat password" type="password">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div>
                <p class="text-center">Have an account? <a asp-controller="Account" asp-action="Login">Log In</a> </p>
            </form>
        </article>
    </div>
</div>
