@model Rent.DomainModels.Models.User

@{
    //ViewData["Title"] = "ViewProfile";
}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>@Model.UserName</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                @if (Model.MainProfilePicture == null)
                {
                    <img src="~/Images/Users/avatar.png" class="avatar img-circle img-thumbnail" alt="avatar">

                }
                else
                {
                    <img src="~/Images/Users/@Model.MainProfilePicture" class="avatar img-circle img-thumbnail" alt="avatar">
                }
                <h6>Başqa profil şəkli seç...</h6>
                @*<form enctype="multipart/form-data">
                        <input id="profilePhoto"  type="file" class="text-center center-block file-upload"  onchange="photoUpload()" />
                        <button class="btn btn-light mt-4" id="profPicUploadConfirm" disabled onclick="photoUploadConfirmed()">Şəkli təsdiqlə</button>
                    </form>*@
                <input id="profilePhoto" type="file" name="images" class="text-center center-block file-upload" onchange="photoUpload()" multiple />
                <button class="btn btn-light mt-4" id="profPicUploadConfirm" disabled onclick="photoUploadConfirmed()">Şəkli təsdiqlə</button>
            </div></hr>

            <br>


            @*<div class="panel panel-default">
                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                </div>*@


            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active" id="infoItem"><a data-toggle="tab" href="#home">Şəxsi Məlumatlar</a></li>
                <li id="passwordItem"><a data-toggle="tab" href="#changePassword">Şifrəni dəyiş</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form method="post" id="registrationForm" asp-controller="Account" asp-action="ProfileDetailsChange" onchange="profileDetailsChanged()">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>First name</h4></label>
                                <input type="text" class="form-control" asp-for="@Model.Name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="last_name"><h4>Last name</h4></label>
                                <input type="text" class="form-control" asp-for="@Model.Surname" placeholder="last name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone"><h4>Phone</h4></label>
                                <input type="text" class="form-control" asp-for="@Model.PhoneNumber" placeholder="enter phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" asp-for="@Model.Email" placeholder="you@email.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="location"><h4>Location</h4></label>
                                <input type="text" class="form-control" asp-for="@Model.MeetingLocation" placeholder="somewhere" title="enter a location">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button id="profDetailsSave" class="btn btn-lg btn-light" type="submit" disabled><i class="glyphicon glyphicon-ok-sign"></i> Məlumatları yadda saxla</button>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->
                <div class="tab-pane" id="changePassword">

                    <h2></h2>

                    <hr>
                    <form method="post" asp-controller="Account" asp-action="PasswordChange">

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4>Yeni şifrə</h4></label>
                                <input type="password" class="form-control" name="password" id="password"
                                       onchange="passwordCheck()" placeholder="Şifrəni daxil et">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="confirmPassword"><h4>Şifrəni təsdiq et</h4></label>
                                <input type="password" class="form-control" name="confirmPassword"
                                       onchange="passwordCheck()" id="confirmPassword"
                                       placeholder="Şifrəni təkrarla">
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <h4 id="message"></h4>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button id="passwordSave" class="btn btn-lg btn-light" type="submit" disabled><i class="glyphicon glyphicon-ok-sign"></i> Şifrəni dəyiş</button>
                            </div>
                        </div>
                    </form>

                </div><!--/tab-pane-->
            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

@section Scripts {

    <script>
        function photoUpload(event) {
            $("#profPicUploadConfirm").removeAttr("disabled");
            $("#profPicUploadConfirm").removeClass("btn-light").addClass("btn-success");

        };

        function profileDetailsChanged() {
            $("#profDetailsSave").removeAttr("disabled").removeClass("btn-light").addClass("btn-success");
        };

        function passwordCheck() {
            if ($('#password').val() == $('#confirmPassword').val()) {
                $('#message').html('Şifrələr uyğundur').css('color', 'green');
                passwordChanged();
            } else
                $('#message').html('Şifrələr uyğun gəlmir').css('color', 'red');
        };

        function passwordChanged() {
            $("#passwordSave").removeAttr("disabled").removeClass("btn-light").addClass("btn-success");
        }

        function photoUploadConfirmed() {
            event.preventDefault();
            var file = $("#profilePhoto")[0]["files"][0];
            var formData = new FormData();
            formData.append("file", file);
            for (var k of formData.entries()) {
                console.log(k);
            }
            $.ajax({
                url: "/Account/ChangeProfilePicture",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                //cache: false,
                success: function () {
                    console.log("Done");
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }
        $("#infoItem").click(function () {
            if ($("#infoItem").hasClass("active") != true) {
                $("#passwordItem").removeClass("active");
                $("#infoItem").addClass("active");
            }
        });

        $("#passwordItem").click(function () {
            if ($("#passwordItem").hasClass("active") != true) {
                $("#infoItem").removeClass("active");
                $("#passwordItem").addClass("active");
            }
        });
    </script>
}
