<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />


    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />


    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>


<body>
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +994-55-425-27-72</a></li>
                    <li><a href="#"><i class="fa fa-location-arrow"></i> Duisburg Strasse 15</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Example split danger button -->
                            @if (User.Identity.Name == "admin@rent.com")
                            {
                                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-info">Admin paneli</a>

                            }
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-danger">@User.Identity.Name</button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Account" asp-action="AccountInfo">Şəxsi hesab</a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Çıxış</a>
                            </div>
                        </div>
                        }
                        else
                        {
                            <a class="btn btn-success" asp-controller="Account" asp-action="Register">Qeydiyyat</a>
                            <a class="btn btn-info ml-3" asp-controller="Account" asp-action="Login">Daxil ol</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/Images/buy-sell-rent-property.png" style="width:250px;height:75px;" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            @await Component.InvokeAsync("SearchBar")
                            @*<form>
                                    <select class="input-select">
                                        <option value="0">All Categories</option>
                                        <option value="1">Category 01</option>
                                        <option value="1">Category 02</option>
                                    </select>
                                    <input class="input" placeholder="Search here">
                                    <button class="search-btn">Search</button>
                                </form>*@
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            @if (User.Identity.IsAuthenticated == true)
                            {
                                <div>
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        <span>Your Wishlist</span>
                                        <div id="wishListCount" class="qty" hidden></div>
                                    </a>
                                </div>
                                <div>
                                    <a href="/messages/inbox">
                                        <i class="fa fa-envelope"></i>
                                        <span id="messagesTitle">Messages</span>
                                        <div id="messsageListCount" class="qty" hidden></div>
                                    </a>
                                </div>

                            }
                            <!-- /Wishlist -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Rent</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Əsas Səhifə</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                            </li>*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Proposals" asp-action="IncomingProposals" asp-route-userName="@User.Identity.Name">Təkliflər</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-userName="@User.Identity.Name">Məhsullarım</a>
                            </li>
                        }
                    </ul>
                </div>

                @*<form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">*@
    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2020 - GoranBoy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.Identity.IsAuthenticated==true)
    {
        <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/site.js"></script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>

@*                &copy; 2020 - GoranBoy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
