@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<Rent.ViewModels.ProductViewModels.ProductDetailsViewModel>

@{
    ViewData["Title"] = localizer["ProductsPageLabel"];
}
<div class="container-fluid">
    <a class="btn btn-outline-info mb-4" asp-controller="Products" asp-action="Create">@localizer["ProductAddButtonText"] <i class="fa fa-plus-circle"></i></a>
    <a class="btn btn-warning mb-4" asp-area="" asp-controller="Products" asp-action="Index">@localizer["ActiveProducstButtonText"]</a>
    <a class="btn btn-outline-danger mb-4" asp-area="" asp-controller="Products" asp-action="Blocked">@localizer["BlockedProductsButtonText"]</a>

    @if (!Model.Any())
    {
        <h3>@localizer["NoProductsText"]</h3>
    }

    else
    {

        @foreach (var item in ViewBag.Categories)
        {
            if (Model.Any(x => x.Subcategory.Category.CategoryName == item.CategoryName))
            {
                <h3 class="mb-0 mt-5">@item.CategoryName</h3>
                <hr class="mt-0" />
                <div class="row">
                    @foreach (var product in Model)
                    {
                        if (product.Subcategory.Category.CategoryName == @item.CategoryName)
                        {
                            <div class="card m-3">
                                @if (product.MainPhotoUrl == null)
                                {
                                    <img src="~/Images/Products/default-pro.jpg"
                                         class="card-img-top card-product-img" alt="...">

                                }
                                else
                                {
                                    <img src="~/Images/Products/@product.MainPhotoUrl"
                                         class="card-img-top card-product-img" alt="...">
                                }                                <div class="card-body">
                                    <input hidden value="@product.Id" />
                                    <h5 class="card-title">@product.ProductName</h5>
                                    <p class="card-text">@product.ProductDescription</p>
                                    <p class="card-text">@localizer["SubcategoryText"]: @product.Subcategory.SubcategoryName</p>
                                    @if (product.Sell == true)
                                    {
                                        <h6 class="text-success">@localizer["BuyLabel"]: @product.SellPrice <span>AZN</span></h6>
                                    }
                                    else
                                    {
                                        <h6 class="text-success">@localizer["BuyLabel"]: <span>❌</span></h6>

                                    }
                                    @if (product.Lend == true)
                                    {
                                        <h6 class="text-warning">@localizer["RentLabel"]: @product.LendPrice <span>@localizer["RentRateText"]</span></h6>
                                    }
                                    else
                                    {
                                        <h6 class="text-warning">@localizer["RentLabel"]: <span>❌</span></h6>

                                    }

                                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary card-product-button">@localizer["EditButtonText"]</a>
                                    <a href="" class="btn btn-danger deleteButton card-product-button">@localizer["DeleteButtonText"]</a>
                                    @*<a asp-controller="Products" asp-route-userName="@User.Identity.Name" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Sil</a>*@
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
    }
</div>

@section Scripts{
    <script>
        $(".deleteButton").click(function (event) {
            event.preventDefault();
            var productId = $(event.target.parentElement).find("input").val();
            var response = window.confirm("@localizer["DeleteConfirmationText"]");
            if (response == true) {
                $.ajax({
                    type: "POST",
                    url: "/Products/Delete/",
                    data: { Id: productId },
                    success: function () {
                        location.reload(true);
                    }
                })
            }
        });
    </script>

}