@model IEnumerable<Rent.DomainModels.Models.Message>
@for (int i = 0; i < Model.Count(); i++)
{
    @if ((Model.ElementAt(i).Recipient.UserName == ViewBag.Recipient) && (Model.ElementAt(i).Sender.UserName == ViewBag.Sender))
    {
        <div class="incoming_msg">
            <div class="incoming_msg_img">
                <img src="~/Images/Users/@Model.ElementAt(i).Sender.MainProfilePicture"
                     alt="@Model.ElementAt(i).Sender.UserName">
            </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>
                        @Model.ElementAt(i).Content
                    </p>
                    <span class="time_date">@Model.ElementAt(i).MessageSent</span>
                </div>
            </div>
        </div>
    }
    else if ((Model.ElementAt(i).Recipient.UserName == ViewBag.Sender) && (Model.ElementAt(i).Sender.UserName == ViewBag.Recipient))
    {
        <div class="outgoing_msg">
            <div class="outgoing_msg_img">
                <img src="~/Images/Users/@Model.ElementAt(i).Sender.MainProfilePicture"
                     alt="@Model.ElementAt(i).Sender.UserName">
            </div>
            <div class="sent_msg">
                <p>
                    @Model.ElementAt(i).Content
                </p>
                <span class="time_date">@Model.ElementAt(i).MessageSent</span>
            </div>
        </div>
    }
}
<div class="chat-notification-block" style="height:30px">
    <p id="notificationMessage" hidden>user typing a message...</p>
</div>
