@model IEnumerable<Rent.DomainModels.Models.Message>

@{
    ViewData["Title"] = "Inbox";
}
<link href="~/css/messageStyleSheet.css" rel="stylesheet" />
<div class="container">
    <!--<a class="btn btn-info" id="inbox" disabled>Inbox</a>-->
    @*<a class="btn btn-info" id="outbox" asp-action="Outbox" asp-controller="Messages">Outbox</a>
    <a class="btn btn-info" id="unread" asp-action="" asp-controller="">Unread</a>*@
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            @*<span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>*@
                            <button class="btn" type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    @{
                        string currentUser = "";
                        bool first = false;
                        List<string> users=new List<string>();

                    }
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        currentUser = Model.ElementAt(i).Sender.UserName;
                        users.Contains(currentUser);
                        if ((Model.ElementAt(i).Recipient.UserName == User.Identity.Name)
                            && (!(users.Contains(currentUser))))
                        {
                            users.Add(currentUser);
                            <a href="#" class="msgArea">
                                @if (!first)
                                {
                                    <div class="chat_list active_chat">
                                        <div class="chat_people">
                                            <div class="chat_img">
                                                <a asp-controller="Account" asp-action="Profile" asp-route-username="@Model.ElementAt(i).Sender.UserName">
                                                    <img src="~/Images/Users/@Model.ElementAt(i).Sender.MainProfilePicture"
                                                         alt="@Model.ElementAt(i).Sender.UserName">
                                                </a>
                                            </div>
                                            <div class="chat_ib">
                                                <h5>@Model.ElementAt(i).Sender.Name @Model.ElementAt(i).Sender.Surname <span class="chat_date">@Model.ElementAt(i).MessageSent</span></h5>
                                                <p>
                                                    @Model.ElementAt(i).Content
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    first = true;                                    
                                }
                                else
                                {
                                    <div class="chat_list">
                                        <div class="chat_people">
                                            <div class="chat_img">
                                                <a asp-controller="Account" asp-action="Profile" asp-route-username="@Model.ElementAt(i).Sender.UserName">
                                                    <img src="~/Images/Users/@Model.ElementAt(i).Sender.MainProfilePicture"
                                                         alt="@Model.ElementAt(i).Sender.UserName">
                                                </a>
                                            </div>
                                            <div class="chat_ib">
                                                <h5>@Model.ElementAt(i).Sender.Name @Model.ElementAt(i).Sender.Surname <span class="chat_date">@Model.ElementAt(i).MessageSent</span></h5>
                                                <p>
                                                    @Model.ElementAt(i).Content
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history" id="msgHistory">

                    @*being processed by the partial view*@


                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <textarea type="text" rows="5" class="write_msg"  placeholder="Type a message"></textarea>
                        <button class="msg_send_btn" type="button">
                            <i class="fa fa-paper-plane-o"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        //on loading of the messages page, the first active username is obtained and getMessageThread function is called
        $(document).ready(function () { 
            var sender = $(".active_chat").find("img").attr("alt");
            getMessageThread(sender);
        });

        //once other messagebox clicked it obtains the username and calls the getMessageThread function
        $(".chat_list").on("click", function (event) {
            $(".active_chat").removeClass("active_chat");
            $(event.currentTarget).addClass("active_chat");
            var element = event.currentTarget;
            var sender = $(element).find("img").attr("alt");
            getMessageThread(sender);
        });

        //function receives the name of the sender and gets the thread with this user
        function getMessageThread(sender) {
            $.ajax({
                url: "/Messages/_MessageThread",
                method: "GET",
                data: {
                    recipient:"@User.Identity.Name",
                    sender: sender
                },
                dataType:"html",
                success: function (result) {
                    $("#msgHistory").html(result);
                    $("#msgHistory").scrollTop($("#msgHistory")[0].scrollHeight);

                }
            });
        }

        $(".msg_send_btn").on("click",function () {
            var message = $(".write_msg").val();
            var recipient = $(".active_chat").find("img").attr("alt");
            if (message != "") {
                $.ajax({
                    url: "/Messages/Create",
                    method: "POST",
                    data: {
                        recipientUserName: recipient,
                        content: message
                    },
                    success: function () {
                        $(".write_msg").val("");
                        getMessageThread(recipient);

                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        })
    </script>
}
