@model IEnumerable<Rent.DomainModels.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
