@model Rent.ViewModels.CategoryViewModels.CategoryDetailsViewModel

@{
    ViewData["Title"] = "Category#1";
}

<div class="container">
    <h1>@Model.CategoryName</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input hidden id="category-id" value="@Model.Id" />
                <label asp-for="CategoryDescription">Category description</label>
                <textarea class="form-control" asp-for="CategoryDescription" rows="3"></textarea>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>Subcategories</label>
                <ul class="list-group" id="subcategory-list">
                    @if (Model.Subcategories!=null)
                    {
                        @foreach (var subcategory in Model.Subcategories)
                        {
                            <li class="list-group-item" 
                                style="display:flex;justify-content:space-between"
                                id="@subcategory.Id">
                                @subcategory.SubcategoryName
                                <div>
                                    <i class="sub-edit fas fa-pen mr-2"></i>
                                    <i class="sub-trash fas fa-trash" onclick="removeClicked(@subcategory.Id)"></i>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>Add new subcategory</label>
                <div class="form-inline">
                    <input class="form-control" id="new-sub-name" />
                    <button onclick="addClicked()" type="button" class="btn btn-success ml-2">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    function addClicked() {
        var newSubName = $("#new-sub-name").val();
        if (newSubName != "") {
            var categoryId = $("#category-id").val();
            var li = document.createElement("li");
            li.classList = "list-group-item";
            li.textContent = newSubName;
            $.ajax({
                method: "POST",
                url: "/Admin/Home/AddSubcategory",
                data: {
                    "categoryId": categoryId,
                    "subcategoryName":newSubName
                },
                success: function () {
                    $("#new-sub-name").val("");
                    $("#subcategory-list")[0].appendChild(li);
                },
                error: function (err) {
                    console.log(err);
                    alert("There was an error while adding the new subcategory. Please check & try again");
                }
            })
        }
    }

    function removeClicked(id) {
        $.ajax({
            method: "POST",
            url: "/admin/home/RemoveSubcategory",
            data: {
                "subcategoryId": id
            },
            success: function () {
                $("#" + id).remove();
            },
            error: function (error) {
                alert(error);
            }
        });
    }
</script>
}