@model Rent.ViewModels.CategoryViewModels.EditCategoryViewModel

@{
    ViewData["Title"] = "Category#1";
}

<div class="container">
    <div class="category-name-block">
        <h1 id="h1-category-name">@Model.CategoryName</h1>
        <div class="mt-2" id="div-category-name" hidden>
            <input id="input-category-name"
                   value="@Model.CategoryName" />
            <i class="fas fa-check  sub-confirm"
               onclick="categoryNameConfirmClicked()"></i>
            <i class="fas fa-times sub-reject"
               onclick="categoryNameRejectClicked()"></i>
        </div>
        <i onclick="categoryNameChangeClicked()" class="fas fa-edit sub-edit ml-2"></i>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input hidden id="category-id" value="@Model.Id" />
                <label asp-for="CategoryDescription">Category description</label>
                <textarea id="category-description" class="form-control" asp-for="CategoryDescription" rows="3"></textarea>
                <button onclick="updateCategory(@Model.Id)" class="btn btn-default btn-success mt-2">Save</button>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>Subcategories</label>
                <ul class="list-group" id="subcategory-list">
                    @if (Model.Subcategories != null)
                    {
                        @foreach (var subcategory in Model.Subcategories)
                        {
                            <li class="sub-list-item"
                                id="@subcategory.Id">
                                <label id=@("label"+subcategory.Id)>
                                    @subcategory.SubcategoryName
                                </label>
                                <div id=@("div"+subcategory.Id) hidden>
                                    <input id=@("input"+@subcategory.Id)
                                           value="@subcategory.SubcategoryName" />
                                    <i class="fas fa-check sub-confirm"
                                       onclick="confirmClicked(@subcategory.Id)"></i>
                                    <i class="fas fa-times sub-reject"
                                       onclick="rejectClicked(@subcategory.Id)"></i>
                                </div>
                                <div>
                                    <i class="sub-edit fas fa-pen"
                                       onclick="editClicked(@subcategory.Id)">
                                    </i>
                                    <i class="sub-trash fas fa-trash"
                                       onclick="removeClicked(@subcategory.Id)">
                                    </i>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>Add new subcategory</label>
                <div class="form-inline">
                    <input class="form-control" id="new-sub-name" />
                    <button onclick="addClicked()" type="button" class="btn btn-success ml-2">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function addClicked() {
            var newSubName = $("#new-sub-name").val();
            if (newSubName != "") {
                var categoryId = $("#category-id").val();

                var li = document.createElement("li");
                li.classList = "sub-list-item";

                var iconDiv = document.createElement("div");

                var editIcon = document.createElement("i");
                editIcon.classList = "sub-edit fas fa-pen";

                var trashIcon = document.createElement("i");
                trashIcon.classList = "sub-trash fas fa-trash";



                $.ajax({
                    method: "POST",
                    url: "/Admin/Home/AddSubcategory",
                    data: {
                        "categoryId": categoryId,
                        "subcategoryName": newSubName
                    },
                    success: function (newSubId) {
                        if (newSubId > 0) {

                            trashIcon.onclick = () => { (removeClicked(newSubId)) };

                            console.log(trashIcon);

                            iconDiv.appendChild(editIcon);
                            iconDiv.appendChild(trashIcon);
                            li.textContent = newSubName;
                            li.appendChild(iconDiv);

                            $("#new-sub-name").val("");
                            $("#subcategory-list")[0].appendChild(li);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        alert("There was an error while adding the new subcategory. Please check & try again");
                    }
                })
            }
        }

        function removeClicked(id) {
            $.ajax({
                method: "POST",
                url: "/admin/home/RemoveSubcategory",
                data: {
                    "subcategoryId": id
                },
                success: function () {
                    $("#" + id).remove();
                },
                error: function (error) {
                    alert(error);
                }
            });
        }

        function editClicked(id) {
            $("#div" + id).removeAttr("hidden");
            $("#label" + id).attr("hidden", true);
        }

        function confirmClicked(subcategoryId) {
            var newName = $("#input" + subcategoryId).val();
            $.ajax({
                method: "POST",
                url: "/Admin/Home/UpdateSubcategory",
                data: {
                    "subcategoryId": subcategoryId,
                    "subcategoryName": newName
                },
                success: function () {
                    $("#label" + subcategoryId).text(newName);
                    $("#div" + subcategoryId).attr("hidden", true);
                    $("#label" + subcategoryId).removeAttr("hidden");
                }
            });
        }

        function rejectClicked(subcategoryId) {
            var oldName = $("#label" + subcategoryId).text().trim();
            $("#input" + subcategoryId).val(oldName);
            $("#div" + subcategoryId).attr("hidden", true);
            $("#label" + subcategoryId).removeAttr("hidden");
        }






        function categoryNameChangeClicked() {

            $("#div-category-name").removeAttr("hidden");
            $("#h1-category-name").attr("hidden", true);
        }

        function categoryNameConfirmClicked() {
            var newName = $("#input-category-name").val();
            $("#h1-category-name").text(newName);
            $("#div-category-name").attr("hidden", true);
            $("#h1-category-name").removeAttr("hidden");
        }

        
        function categoryNameRejectClicked() {
            var oldName = $("#h1-category-name").text();
            $("#input-category-name").val(oldName);
            $("#div-category-name").attr("hidden", true);
            $("#h1-category-name").removeAttr("hidden");
        }
        


        function updateCategory(categoryId) {
            var newDescription = $("#category-description").val();
            var newName = $("#h1-category-name").text();
            console.log(newDescription);

            $.ajax({
                method: "POST",
                url: "/Admin/Home/UpdateCategory",
                data: {
                    "categoryId": categoryId,
                    "newDescription": newDescription,
                    "newName": newName
                },
                success: function () {
                    window.location.href = '/Admin/Home/Categories';
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}