@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                @*<div class="card-body">@ViewBag.Registered Registered User(s)</div>*@
                <div class="card-body admin-dashboard-card">Registered users: @ViewBag.Registered</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Home" asp-action="Users">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                @*<div class="card-body">@ViewBag.Proposals Proposal(s)</div>*@
                <div class="card-body admin-dashboard-card">Proposals: @ViewBag.Proposals</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                @*<div class="card-body">@ViewBag.Products Product(s)</div>*@
                <div class="card-body admin-dashboard-card">Products: @ViewBag.Products</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Home" asp-action="ActiveProducts">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Accepted Proposals: @ViewBag.Successful.Count</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @*<th>Buyer</th>
                            <th>Owner</th>
                            <th>Product</th>
                            <th>Proposal Type</th>
                            <th>Deal Price</th>*@
                            <th>Buyer</th>
                            <th>Owner</th>
                            <th>Product</th>
                            <th>Proposal</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                        <tr>
                            <th>Buyer</th>
                            <th>Owner</th>
                            <th>Product</th>
                            <th>Proposal Type</th>
                            <th>Deal Price</th>
                        </tr>
                    </tfoot>*@
                    <tbody>
                        @foreach (var proposal in ViewBag.Successful)
                        {            
                            <tr>
                                
                                 <td><a asp-area="" asp-controller="Account" asp-action="Profile" asp-route-username="@proposal.Buyer.UserName">@proposal.Buyer.UserName</a></td>
                                <td><a asp-area="" asp-controller="Account" asp-action="Profile" asp-route-username="@proposal.Owner.UserName">@proposal.Owner.UserName</a></td>
                                <td><a asp-area="" asp-controller="Home" asp-action="Details" asp-route-id="@proposal.Product.Id">@proposal.Product.ProductName</a></td>
                                @if (@proposal.ProposalType.Type == "Sell")
                                {
                                    @*<td>Buy</td>*@
                                    <td>Buy</td>
                                }
                                else
                                {
                                    <td>
                                        Rent: @proposal.ProposedPrice AZN/day
                                       @* Kirayə: @proposal.ProposedPrice AZN/gün*@
                                        <br />Period: @proposal.ProposedRentStartDate - @proposal.ProposedRentEndDate
                                       @* <br />Müddət: @proposal.ProposedRentStartDate - @proposal.ProposedRentEndDate*@
                                    </td>
                                }
                                <td>@proposal.ProposedTotalPrice</td>
                                @*<td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
