@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["InboxText"];
}
<input hidden id="userId" value="@ViewBag.UserId" />
<div class="container-fluid">
    <div class="row mb-3">
        <a class="btn btn-info" asp-action="IncomingProposals" asp-route-userName="@User.Identity.Name">@localizer["InboxText"]</a>
        <a class="btn btn-info ml-3" asp-action="OutgoingProposals" asp-route-userName="@User.Identity.Name">@localizer["OutboxText"]</a>
    </div>
    <div class=" row mb-3">
        <label class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" type="radio" value="All" checked  /> All</label>
        <label class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" type="radio" value="Open" /> Open</label>
        <label class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" type="radio" value="Accepted" /> Accepted</label>
        <label class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" type="radio" value="Rejected" /> Rejected</label>
    </div>

    <div id="filteredProposalsBlock">
        @*@await Html.PartialAsync("_FilteredProposalView");*@
    </div>
</div>

@section Scripts {
    <script>
        var id = $("#userId").val();
        var selected = "All";

        $(document).ready(()=>{
            getProposals(id, selected)
        });


        $(".filter-radio").on('click', (event) => {
            selected = event.target.value;

            getProposals(id, selected);
        });

        function getProposals(id, selected) {
            $.ajax({
                method: "GET",
                url: "/Proposals/_FilteredProposalView",
                data: {
                    userId: id,
                    selection: selected,
                    folder: "Inbox"
                },
                success: (result) => {
                    $("#filteredProposalsBlock").html(result);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
    </script>
}
