@model IEnumerable<Rent.ViewModels.ProposalViewModels.ProposalDetailsViewModel>

@{
    ViewData["Title"] = "Göndərilən Təkliflər";
}

<div class="container-fluid">
    <div class="row mb-3">
        <a class="btn btn-info" asp-action="IncomingProposals" asp-route-userName="@User.Identity.Name">Gələn Təkliflər</a>
        <a class="btn btn-info ml-3" asp-action="OutgoingProposals" asp-route-userName="@User.Identity.Name">Göndərilən Təkliflər</a>
    </div>
    <h3>Göndərilən təklif sayı: @Model.Count()</h3>
    @foreach (var item in Model)
    {
        //review the option of  using jumbotron-fluid class
        <div class="row jumbotron-fluid mb-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Products/@item.Product.MainPhotoUrl" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Məhsul: @item.Product.ProductName</h5>
                <a asp-action="Profile" asp-controller="Account" asp-route-username="@item.Product.User">
                    <h6 class="label label-info">Məhsulun sahibi: @item.Product.User</h6>
                </a>
                <p class="card-text">
                    Təklif: @item.ProposedPrice
                    @if (item.ProposalType.Type == "Sell")
                    {
                        <span>AZN</span>
                        <span class="label label-success">Alış</span>
                    }
                    else
                    {
                        <span>AZN/GÜN</span>
                        <span class="label label-warning">Kirayə</span>
                        <p class="card-text">
                            Kirayə müddəti: @item.ProposedRentStartDate.ToString("dd/M/yyyy") - @item.ProposedRentEndDate.ToString("dd/M/yyyy")
                        </p>

                }
                    @if (item.ProposalMessage != null)
                    {
                        <p class="card-text">
                            Əlavə: @item.ProposalMessage
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            Əlavə: ❌
                        </p>
                    }
                    </p>
                    <p class="card-text">
                        Göndərilib: @item.ProposalAdded.ToString("dd/M/yyyy")
                    </p>
                    @if (item.ProposalStatus.StatusName == "Open")
                    {
                        <label class="card-footer badge-info">Status: Açıq</label>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Dəyiş</a>
                        <a class="btn btn-danger deleteButton" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    }
                    else if (item.ProposalStatus.StatusName == "Closed")
                    {
                        <label class="card-footer badge-success">Status: @item.ProposalClosed.ToString("dd/M/yyyy")-də Razılıq verilib</label>
                    }
                    else
                    {
                        <label class="card-footer badge-danger">Status: @item.ProposalClosed.ToString("dd/M/yyyy")-də Imtina edilib</label>
                    }
                </div>
            </div>
        }
</div>

@section Scripts{ 
<script>
    $(".deleteButton").on("click", function (event) {
        var response = confirm("Təklifi silmək istədiyinizdən əminsinizmi?")
        if (response==true) {
            return true;
        } else {
            return false;
        }
        
    });

</script>
}
