@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<Rent.ViewModels.ProposalViewModels.ProposalDetailsViewModel>

@{
    ViewData["Title"] = localizer["OutboxText"];
}

<input hidden id="userId" value="@ViewBag.UserId" />
<div class="container-fluid">
    <div class="row mb-3">
        <a class="btn btn-info" asp-action="IncomingProposals" asp-route-userName="@User.Identity.Name">@localizer["InboxText"]</a>
        <a class="btn btn-info ml-3" asp-action="OutgoingProposals" asp-route-userName="@User.Identity.Name">@localizer["OutboxText"]</a>
    </div>

    <div class=" row mb-3">
        <label for="radioAll" class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" id="radioAll" type="radio" value="All" checked /> @localizer["FilterRadioAll"]</label>
        <label for="radioOpen" class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" id="radioOpen" type="radio" value="Open" /> @localizer["FilterRadioOpen"]</label>
        <label for="radioRejected" class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" id="radioRejected" type="radio" value="Accepted" /> @localizer["FilterRadioAccepted"]</label>
        <label for="radioAccepted" class="ml-2"><input class="filter-radio ml-2" name="proposal-filter" id="radioAccepted" type="radio" value="Rejected" /> @localizer["FilterRadioRejected"]</label>
    </div>

    <div id="filteredProposalsBlock">
        @*@await Html.PartialAsync("_FilteredProposalView");*@
    </div>

</div>

@section Scripts{
    <script>

        var id = $("#userId").val();
        var selected = "All";

        $(document).ready(() => {
            getProposals(id, selected)
        });


        $(".filter-radio").on('click', (event) => {
            selected = event.target.value;
            getProposals(id, selected);
        });

        function getProposals(id, selected) {
            $.ajax({
                method: "GET",
                url: "/Proposals/_FilteredOutboxProposals",
                data: {
                    userId: id,
                    selection: selected
                },
                success: (result) => {
                    $("#filteredProposalsBlock").html(result);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        $(".deleteButton").on("click", function (event) {
            console.log('test');
            //var response = confirm("Təklifi silmək istədiyinizdən əminsinizmi?")
            //if (response == true) {
            //    return true;
            //} else {
            //    return false;
            //}

        });

    </script>
}
